canvas{
  position: fixed;
  top:0;
  left:0;
}
main{
  position: relative;
  color: aliceblue;
  display: inline-block;

}
.myButton {
  padding: 10px;
  margin: 5px; /* Add some margin between buttons */
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px; /* Adjust the border-radius to curve the edges */
  transition: background-color 0.3s ease; /* Add smooth transition effect */
}

/* Change color on hover */
.myButton:hover {
  background-color: #010609; /* Change to your desired hover color */
}
.right-side {
  position: relative;
  padding: 20px;
}


.right-paragraph  {
  position: absolute;
  color: aliceblue;
      right: 0 ;
  padding: 20px;
  width: 200px; /* Adjust the width as needed */
}

.right-paragraph:nth-child(1) {
  right: 500px;
}

.right-paragraph:nth-child(2) {
  right: 10px;
  
  /* Adjust the value to control the spacing between paragraphs */
}

.right-align {
  position:static;
  text-align: right;
  padding: 20px;
  color: aliceblue;
}

.skill-container {
  max-width: 400px;
  margin: 50px auto;
}

.skill {
  margin-bottom: 20px;
}

.skill-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #3498db; /* Adjust color as needed */
}